<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
	                    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd 
	                    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
	                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
	                    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd ">
	
	<!-- 注册中心配置 -->
	<bean class="com.alibaba.dubbo.config.RegistryConfig">
		<property name="address" value="${dubbo.registryUrl}" />
	</bean>
	<bean class="com.alibaba.dubbo.config.ProtocolConfig">
		<property name="name" value="dubbo" />
		<property name="port" value="${dubbo.protcolPort}" />		
	</bean>
	<bean class="com.alibaba.dubbo.config.ConsumerConfig">
		<property name="timeout" value="${dubbo.consumerTimeout}" />
		<property name="default" value="true" />
	</bean>	
	
	
	<bean class="com.gsst.eaf.core.spring.mvc.HandlerMappingBeanPostProcessor">
		<property name="propertyValues">
			<map>
				<entry key="alwaysUseFullPath" value="false" />
			</map>
		</property>
	</bean>

</beans>
